name: Capgen Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [develop, main]

jobs:
  unit_tests:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        fortran-compiler: [gfortran-9, gfortran-10, gfortran-11, gfortran-12]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: update repos and install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential libopenmpi-dev ${{matrix.fortran-compiler}} cmake python3 git libxml2-utils

    - name: Build pFUnit
      run: |
        git clone --depth 1 --branch v4.10.0 https://github.com/Goddard-Fortran-Ecosystem/pFUnit.git
        cd pFUnit
        cmake -B./build -S.
        cd build
        make install

    - name: Build the framework
      run: |
        cmake -S. -B./build                \
          -DCCPP_FRAMEWORK_ENABLE_TESTS=ON \
          -DCMAKE_PREFIX_PATH=/home/runner/work/ccpp-framework/ccpp-framework/pFUnit/build/installed
        cd build
        make

    - name: Run unit tests
      run: |
        cd build
        ctest --rerun-failed --output-on-failure . --verbose

    - name: Run python tests
      run: |
        pip install --user pytest
        BUILD_DIR=./build \
        PYTHONPATH=test/:scripts/ \
            pytest \
              test/capgen_test/capgen_test_reports.py \
              test/advection_test/advection_test_reports.py \
              test/ddthost_test/ddthost_test_reports.py \
              test/var_compatibility_test/var_compatibility_test_reports.py
