name: Capgen Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [develop, main]

jobs:
  unit_tests:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        fortran-compiler: [gfortran-9, gfortran-10, gfortran-11, gfortran-12]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: update repos and install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential libopenmpi-dev ${{matrix.fortran-compiler}} cmake python3 git

    - name: Build the framework
      run: |
        cmake -S. -B./build -DCCPP_FRAMEWORK_ENABLE_TESTS=ON
        cd build
        make

    - name: Run unit tests
      run: |
        cd build
        ctest --rerun-failed --output-on-failure . --verbose

    - name: Run python tests
      run: |
        pip install --user pytest
        BUILD_DIR=./build pytest-3 test/capgen_test/test_reports.py
