name: ccpp-prebuild

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  unit-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8","3.9","3.10","3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: ccpp-prebuild unit tests
      run: |
        export PYTHONPATH=$(pwd)/scripts:$(pwd)/scripts/parse_tools
        cd test_prebuild
        python3 test_metadata_parser.py
        python3 test_mkstatic.py
    - name: ccpp-prebuild blocked data tests
      run: |
        cd test_prebuild/test_blocked_data
        python3 ../../scripts/ccpp_prebuild.py --config=ccpp_prebuild_config.py --builddir=build
        cd build
        cmake ..
        make
        ./test_blocked_data.x
